<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>

</div>
<h2>Here are some links to help you start:</h2>
<ul>
  <li *ngFor="let todo of todos">- {{todo.todo}}</li>
</ul>
<app-slow [message]="message"></app-slow>

<!-- <app-slow2 *ngIf="message" [message]="message"></app-slow2> -->
<app-slow2  [message]="message"></app-slow2>

<app-my-form></app-my-form>

